.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 30vw;
}

.main-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.options-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  padding: 5px;
}

.icon {
  background-color: #f4f4f4;
  border-radius: 50%;
  border: none !important;
}

.icon:hover {
  background-color: #507dbc;
  color: #fff;
}
