.bookmark-button {
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: none !important;
}
.bookmark-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.bookmark-button-clicked {
  border: none !important;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #fff;
}

.bookmark-button-clicked:hover {
  background-color: rgb(23, 106, 185);
  color: #fff;
}
